section.banner {
    background: #2579ED imgUrl('banner.png') right bottom;
}

#partnersSlider {
    .slick-track {
        display: flex;
    }

    .slick-slide {
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 50px;
    }
}